@model Learnify.DTO.DTOs.AccountDto.ChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_StudentPanelLayout.cshtml";
}

<h2 class="fw-bold mb-4">🔐 Şifre Değiştir</h2>

<div class="card p-4 shadow-sm bg-white">

    <form asp-action="ChangePassword" method="post">

        <input type="hidden" asp-for="UserId" />

        <div class="mb-3">
            <label class="form-label fw-bold">Mevcut Şifre</label>
            <input asp-for="CurrentPassword" class="form-control" type="password" />
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Yeni Şifre</label>
            <input asp-for="NewPassword" class="form-control" type="password" />
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Yeni Şifre (Tekrar)</label>
            <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        </div>

        <button class="btn btn-primary w-100">Kaydet</button>
    </form>

    <a asp-action="Index" class="btn btn-outline-secondary w-100 mt-3">
        ← Profile Dön
    </a>
</div>

