@using Learnify.DTO.DTOs.CategoryDto
@model UpdateCategoryDto
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="UpdateCategory" method="post" class="container mt-4">
    <input type="hidden" asp-for="CategoryID" />

    <div class="mb-3">
        <label>Kategori Adı</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    <button class="btn btn-primary">Güncelle</button>
</form>
